<ng-container [formGroup]="parentFormGroup.control">
    <div class="govuk-form-group govuk-!-margin-bottom-3">
        <label class="govuk-label" for="region">
            Select a region
        </label>
        <select class="govuk-select govuk-!-width-two-thirds" formControlName="region" id="region-select" name="region-select">
            <option [ngValue]="null" disabled selected>--Select a value--</option>
            <option [ngValue]="region" *ngFor="let region of regions" id="option-region-select{{region.region_id}}" >{{region.description}}</option>
        </select>
    </div>
</ng-container>

