<main class="govuk-main-wrapper " id="main-content" role="main">
    
    <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Manage Judicial Sitting Records</h1>
  
    <form [formGroup]="userForm" (ngSubmit)="submitForm()">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-body-l govuk-!-margin-bottom-3">What would you like to do?</h1>
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="option-1" name="options" type="radio" value="opt1"
                            formControlName="options">
                        <label class="govuk-label govuk-radios__label" for="option-1">
                            Find, add or delete a sitting record
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="option-2" name="options" type="radio" value="opt2"
                            formControlName="options">
                        <label class="govuk-label govuk-radios__label" for="option-2">
                            Submit sitting records to Finance
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
        <div *ngIf="showManageRecords" class="govuk-inset-text">
            <app-sitting-records-landing-manage-records></app-sitting-records-landing-manage-records>
        </div>

        <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button" [disabled]="showManageRecords">
                Continue
            </button>
        </div>
    </form>

</main>
