<main class="govuk-main-wrapper " id="main-content" role="main">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Manage Judicial Sitting Records</h1>
    <form [formGroup]="userForm" (ngSubmit)="submitForm()">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-body-l govuk-!-margin-bottom-3" *ngIf="showHeadingForPublisher">View and export sitting records or publish records for payroll</h1>
                </legend>
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-body-l govuk-!-margin-bottom-3">What would you like to do?</h1>
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                    <div *ngIf="showFindAddDeleteSittingRecordsOption" class="govuk-radios__item">
                        <input class="govuk-radios__input" id="option-1" name="options" type="radio" value="manageSittingRecords"
                            formControlName="options">
                        <label class="govuk-label govuk-radios__label" for="option-1">
                            Find, add or delete a sitting record
                        </label>
                    </div>
                    <div *ngIf="showSubmitSittingRecordsOption" class="govuk-radios__item">
                        <input class="govuk-radios__input" id="option-2" name="options" type="radio" value="submitToFinance"
                            formControlName="options">
                        <label class="govuk-label govuk-radios__label" for="option-2">
                            Submit sitting records to Finance
                        </label>
                    </div>
                    <div *ngIf="showViewExportSittingRecordsOption" class="govuk-radios__item">
                        <input class="govuk-radios__input" id="option-3" name="options" type="radio" value="viewExportSittingRecord"
                            formControlName="options">
                        <label class="govuk-label govuk-radios__label" for="option-3">
                            View or export a collection of sitting records
                        </label>
                    </div>
                    <div *ngIf="showCreatePayrollFilePublishSittingRecordsOption" class="govuk-radios__item">
                        <input class="govuk-radios__input" id="option-4" name="options" type="radio" value="publishRecords"
                            formControlName="options">
                        <label class="govuk-label govuk-radios__label" for="option-4">
                            Create payroll file and publish records
                        </label>
                    </div>
                    <div *ngIf="showViewOrManageJudicialInfo" class="govuk-radios__item">
                        <input class="govuk-radios__input" id="option-5" name="options" type="radio" value="viewManageJudicialInfo"
                            formControlName="options">
                        <label class="govuk-label govuk-radios__label" for="option-5">
                            View or manage Judicial information
                        </label>
                    </div>

                </div>
            </fieldset>
        </div>
        <div *ngIf="!hideManageRecordsSubmitter" class="govuk-inset-text">
            <app-sitting-records-landing-manage-records-submitter (submitterFormValid)="handleFormValidChange($event)" (submitterFormValues)="handleFormValues($event)"></app-sitting-records-landing-manage-records-submitter>
        </div>
        <div *ngIf="!hideManageRecordsPublisher" class="govuk-inset-text">
            <app-sitting-records-landing-manage-records-publisher (publisherFormValid)="handleFormValidChange($event)" (publisherFormValues)="handleFormValues($event)"></app-sitting-records-landing-manage-records-publisher>
        </div>
        <div *ngIf="!hideManageRecordsJohAdmin" class="govuk-inset-text">
            <app-sitting-records-landing-johadmin></app-sitting-records-landing-johadmin>
        </div>

        <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button" [disabled]="(!hideManageRecordsSubmitter && !submitterFormValid) || (!hideManageRecordsPublisher && !publisherFormValid)">
                Continue
            </button>
        </div>
    </form>
</main>
