<main class="govuk-main-wrapper " id="main-content" role="main">

    <span class="govuk-caption-l govuk-!-margin-bottom-3">
        <app-sitting-records-info-banner amendedText="Add sitting records"></app-sitting-records-info-banner>
    </span>

    <div class="govuk-panel govuk-panel--confirmation success-panel">
        <h1 class="govuk-panel__title">
            Existing sitting record(s) saved
        </h1>
    </div>

    <p class="govuk-body">You selected to keep the existing records, your records have not been saved.</p>

    <button class="govuk-button" data-module="govuk-button" (click)="navigateBackToView()">
        Return to record table
    </button>

</main>