<ng-container [formGroup]="parentFormGroup.control">
    <div class="govuk-form-group"
    [class.govuk-form-group--error]="f['dateSelected'].errors !== null && f['dateSelected'].dirty" formGroupName="dateSelected">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="msr-date-hint">
            <legend class="govuk-fieldset__legend">
            Enter a date 
            </legend>
            <p id="msr-error-future" class="govuk-error-message" *ngIf="f['dateSelected'].hasError('date_after_today')">
            <span class="govuk-visually-hidden">Error:</span> The date you have selected is in the future
            </p>
            <p id="msr-error-out-of-support" class="govuk-error-message" *ngIf="f['dateSelected'].hasError('date_out_of_support')">
            <span class="govuk-visually-hidden">Error:</span> The date you have selected is out of support
            </p>
            <p id="msr-error-out-of-support" class="govuk-error-message" *ngIf="f['dateSelected'].hasError('date_invalid')">
            <span class="govuk-visually-hidden">Error:</span> Invalid date selected
            </p>
            <div class="govuk-date-input" id="msr-date">
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="msr-date-day">
                    Day
                </label>
                <input 
                    class="govuk-input govuk-date-input__input govuk-input--width-2" 
                    id="msr-date-day" 
                    name="msr-date-day" 
                    type="text" 
                    inputmode="numeric"
                    formControlName="dateDay"
                    [class.govuk-input--error] = "f['dateSelected'].errors !== null && f['dateSelected'].dirty" 
                    [maxlength]="2"
                    appNumbersOnly
                >
                </div>
            </div>
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="msr-date-month">
                    Month
                </label>
                <input 
                    class="govuk-input govuk-date-input__input govuk-input--width-2" 
                    id="msr-date-month" 
                    name="msr-date-month" 
                    type="text" i
                    nputmode="numeric"
                    formControlName="dateMonth"
                    [class.govuk-input--error] = "f['dateSelected'].errors !== null && f['dateSelected'].dirty" 
                    [maxLength]="2"
                    appNumbersOnly
                >
                </div>
            </div>
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="msr-date-year">
                    Year
                </label>
                <input 
                    class="govuk-input govuk-date-input__input govuk-input--width-4" 
                    id="msr-date-year" name="msr-date-year" 
                    type="text" 
                    inputmode="numeric"
                    formControlName="dateYear"
                    [class.govuk-input--error] = "f['dateSelected'].errors !== null && f['dateSelected'].dirty" 
                    [maxlength]="4"
                    [minlength]="4"
                    appNumbersOnly
                >
                </div>
            </div>
            </div>
        </fieldset>
    </div>
</ng-container>



