<main class="govuk-main-wrapper " id="main-content" role="main">

  <span class="govuk-caption-l govuk-!-margin-bottom-3">
    <app-sitting-records-info-banner amendedText="Delete sitting record"></app-sitting-records-info-banner>
  </span>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-panel govuk-panel--confirmation success-panel">
        <h1 class="govuk-panel__title">
          Sitting record deleted
        </h1>
      </div>
    </div>

    <div class="govuk-grid-column-full">
      <button class="govuk-button" data-module="govuk-button" (click)="navigateToView()">
        Return To Sitting Records
      </button>
      <br>
    </div>

  </div>
</main>