<ng-container [formGroup]="parentFormGroup.control">
    <div class="govuk-form-group govuk-!-margin-bottom-3"                 
    [class.govuk-form-group--error] = "f['venue'].errors !== null && f['venue'].dirty && f['venue'].touched">
        <label class="govuk-label" for="venue-select">
            Select a venue
        </label>
        <p id="msr-require-match" class="govuk-error-message" *ngIf="f['venue'].errors && f['venue'].dirty && f['venue'].touched">
            <span class="govuk-visually-hidden">Error:</span> Select valid Venue 
        </p>
        <div class="auto-complete-container">
            <input class="govuk-input govuk-!-width-two-thirds" formControlName="venue" id="venue-select" name="venue-select"
                type="text" placeholder="Start typing to search for a venue" [matAutocomplete]="autoSearchVenue" required>
            <mat-autocomplete class="mat-autocomplete-panel-extend" id="auto-venue-select" #autoSearchVenue="matAutocomplete"
                (optionSelected)="optionSelected($event)" [displayWith]="showVenue">
                <mat-option *ngFor="let venue of filteredVenues | async" id="option-venue-select-{{venue.site_name}}"
                    (mousedown)=$event.preventDefault() [value]="venue">
                    {{ venue.site_name }}
                </mat-option>
                <mat-option *ngIf="!typeaheadResultsFound && searchTerm.length >= this.minSearchCharacters" disabled>No results
                    found</mat-option>
            </mat-autocomplete>
        
        </div>
    </div>
</ng-container>

