<ng-container [formGroup]="parentFormGroup.control">
    <div class="govuk-form-group govuk-!-margin-bottom-3">
        <label class="govuk-label" for="sort">
            Select a tribunal service 
        </label>
        <select class="govuk-select govuk-!-width-two-thirds" 
            formControlName="tribunalService"
            id="sort" name="sort">
            <option [ngValue]="''" disabled selected>--Select a value--</option>
            <option [ngValue]="'BBA3'">Social Security and Child Support</option>
            <option [ngValue]="'ABA5'">Private Law</option>
        </select>
    </div>
</ng-container>