@import 'node_modules/govuk-frontend/govuk/all.scss';

.userDefinedStyling{
    background-color: $govuk-error-colour;
    height: 100%;
    width: 0.5rem;
}

.errorCellStyling{
    background-color: adjust-color($color: $govuk-error-colour, $lightness: 50%);
}

.textIndent{
    text-indent: 0.5rem;
}