<p class="govuk-body">The highlighted record cannot be saved as a version of it already exists, no further action is required.</p>

<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" ></th>
            <th scope="col" class="govuk-table__header textIndent"> Name </th>
            <th scope="col" class="govuk-table__header"> Role </th>
            <th scope="col" class="govuk-table__header"> Period </th>
            <th scope="col" class="govuk-table__header"> Entered by </th>
            <th scope="col" class="govuk-table__header"> Date </th>
            <th scope="col" class="govuk-table__header"> Venue</th>
            <th scope="col" class="govuk-table__header"> Status</th>
            <th scope="col" class="govuk-table__header"> &nbsp;</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="userDefinedStyling"></td>
            <td class="govuk-table__cell errorCellStyling textIndent"> {{duplicateFormObject.johName}}</td>
            <td class="govuk-table__cell errorCellStyling"> {{duplicateFormObject.johRole}}</td>
            <td class="govuk-table__cell errorCellStyling"> {{duplicateFormObject.period}}</td>
            <td class="govuk-table__cell errorCellStyling"> {{currentUser}}</td>
            <td class="govuk-table__cell errorCellStyling"> {{selectedDate}}</td>
            <td class="govuk-table__cell errorCellStyling"> {{selectedVenue}}</td>
            <td class="govuk-table__cell errorCellStyling"></td>
            <td class="govuk-table__cell errorCellStyling"> 
            </td>
        </tr>
        <tr class="govuk-table__row">
        </tr>

        <tr class="govuk-table__row">
            <td ></td>
            <td class="govuk-table__cell textIndent"> {{duplicateFormObject.johName}}</td>
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell"> {{recordData.createdByName}}</td>
            <td class="govuk-table__cell"> {{selectedDate}}</td>
            <td class="govuk-table__cell"> {{selectedVenue}}</td>
            <td class="govuk-table__cell"> {{recordData.statusId}}</td>
            <td class="govuk-table__cell"> 
            </td>
        </tr>
        <tr class="govuk-table__row">
        </tr>
    </tbody>
</table>
