<main class="govuk-main-wrapper " id="main-content" role="main">

    <span class="govuk-caption-l">
        Add Sitting records for {{tribService}}, {{venue}}, for {{date}}
    </span>
    <h1 class="govuk-heading-l">
        Select the Juduicial office holders (JOH) associated with this sitting
    </h1>

    <p class="govuk-body govuk-!-margin-bottom-5">
        You can select a maximum of 3 office holders for each sitting.
    </p>
    <div [formGroup]="addSittingRecordsFG">
        <div formArrayName="JOH">
            <div class="govuk-grid-row" [class.govuk-inset-text]="johFormArray.length !== 1"
                *ngFor="let joh of johFormArray.controls; let i=index;" [formGroupName]="i">
                <div class="govuk-grid-column-full govuk-!-static-margin-bottom-2">
            
                    <h1 class="govuk-grid-column-three-quarters govuk-!-static-margin-0 govuk-!-static-padding-0">
                        <label class="govuk-label govuk-label--m" for="judge">
                            Judicial Office Holder <span *ngIf="johFormArray.length > 1">{{ i + 1 }}</span>
                        </label>
            
                    </h1>
            
                    <div class="govuk-grid-column-one-quarter govuk-!-static-padding-0 buttonFloatRight">
                        <button class="govuk-button govuk-button--secondary govuk-!-static-margin-bottom-0"
                            data-module="govuk-button" *ngIf="i !== 0" (click)="removeJoh(i)">
                            Remove
                        </button>
                    </div>
                </div>
            
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-form-group govuk-!-static-margin-bottom-0 posRel">
                        <div id="judge-hint" class="govuk-hint">
                            Name
                        </div>
                        <input 
                            class="govuk-input" attr.id="judge-{{i}}" name="judge" 
                            type="text" aria-describedby="judge-hint"
                            placeholder="Start typing to find a JOH name" 
                            formControlName="johName"
                        >

                    </div>
      
                </div>
            
            
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-form-group">
                        <div id="role-hint" class="govuk-hint">
                            Role
                        </div>
                        <select class="govuk-select govuk-!-width-full" id="role" name="role" formControlName="johRole">
                            >
                            <option [ngValue]="null" disabled selected>--Select a value--</option>
                            <option [ngValue]="'1'">Recently published</option>
                            <option [ngValue]="'2'">Recently updated</option>
                            <option [ngValue]="'3'">Most views</option>
                            <option [ngValue]="'4'">Most comments</option>
                        </select>
                    </div>
                </div>
                <div class="govuk-grid-column-full">
                    <button class="govuk-button" data-module="govuk-button" (click)="addNewJoh()"
                        *ngIf="(i === johFormArray.length-1)">
                        Add Another
                    </button>
                </div>
            </div>
        </div>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
                        Period
                    </h1>
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="period" name="period" type="radio" value="am"
                            formControlName="period">
                        <label class="govuk-label govuk-radios__label" for="period">
                            Morning
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="period-2" name="period" type="radio" value="pm"
                            formControlName="period">
                        <label class="govuk-label govuk-radios__label" for="period-2">
                            Afternoon
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="period-3" name="period" type="radio" value="both"
                            formControlName="period">
                        <label class="govuk-label govuk-radios__label" for="period-3">
                            Full Day
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>

        <button type="submit" class="govuk-button govuk-!-static-margin-bottom-4" data-module="govuk-button"
            (click)="submitNewSittingRecord()" [disabled]="addSittingRecordsFG.invalid">
            Continue
        </button>
        <br>

        <a class="govuk-link" (click)="goBack()">
            Cancel
        </a>
    </div>
</main>