<main class="govuk-main-wrapper " id="main-content" role="main">
    <h1 class="govuk-heading-l">Judicial Sitting Records</h1>

    <div class="govuk-button-group">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Show Filters
        </button>
        <button class="govuk-button" data-module="govuk-button" (click)="addNewRecord()">
            Add sitting records
        </button>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-0">
        <app-sitting-records-info-banner></app-sitting-records-info-banner>
        <a class="govuk-link" (click)="goBack()">Change</a>
      </p>
      
</main>