<main class="govuk-main-wrapper " id="main-content" role="main">
    <h1 class="govuk-heading-l">Judicial Sitting Records</h1>

    <div class="govuk-button-group">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Show Filters
        </button>
        <button class="govuk-button" data-module="govuk-button">
            Add Sitting Records
        </button>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-0">
        Sitting records for {{tribService}}, {{venue}}, for {{date}}
        <br>
        <a class="govuk-link" (click)="goBack()">Change</a>
      </p>
      
</main>