<main class="govuk-main-wrapper " id="main-content" role="main">
    <h1 class="govuk-heading-l">Judicial sitting records</h1>
    <p class="govuk-body govuk-!-margin-bottom-3">
      <app-sitting-records-info-banner></app-sitting-records-info-banner>
    </p>
    
    <div class="govuk-button-group">
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button" (click)="goBack()">
        Previous
      </button>
      
      <button class="govuk-button" data-module="govuk-button" (click)="addNewRecord()">
          Add Sitting Record(s)
      </button>
    </div>

    <div class="govuk-button-group">
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Show Filters
      </button>
    </div>

    <div class="govuk-grid-row">
      <div [ngClass]="showFilters ? 'govuk-grid-column-three-quarters' : 'govuk-grid-column-full'">
        <ng-container style="width: 100%;">
          <table 
            datatable 
            [dtOptions]="dtOptions" 
            class="govuk-table"
            id="sittingRecordViewTable">
            <caption></caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header"> Name </th>
                <th class="govuk-table__header"> Role </th>
                <th class="govuk-table__header"> Period </th>
                <th class="govuk-table__header"> Entered by </th>
                <th class="govuk-table__header"> Status </th>
                <th class="govuk-table__header"> &nbsp; </th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row" *ngFor="let sittingRecord of sittingRecordData">
                <td class="govuk-table__cell"> {{sittingRecord.personalName}} </td>
                <td class="govuk-table__cell"> {{sittingRecord.judgeRoleTypeId | convertRoleIdToString}} </td>
                <td class="govuk-table__cell"> {{sittingRecord.am | convertToStringPeriod: sittingRecord.pm}} </td>
                <td class="govuk-table__cell"> {{sittingRecord.createdByUserName}} </td>
                <td class="govuk-table__cell"> {{sittingRecord.statusId | capitalizeFirstLetterForStatus}} </td>
                <td class="govuk-table__cell deleteCell"> <a class="govuk-link" (click)="navigateDeleteSittingRecord(sittingRecord)">Delete</a> </td>
              </tr>
              <tr *ngIf="recordCount === 0">
                <td colspan="6" class="no-data-available">No results available</td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </div>
    </div>
</main>