<main class="govuk-main-wrapper " id="main-content" role="main">
    <h1 class="govuk-heading-l">Submit Sitting Records</h1>

    <div class="govuk-button-group">
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Submit records
      </button>
    </div>

    <div class="govuk-button-group">
        <a class="govuk-link" (click)="goBack()">Cancel</a>
    </div>

    <div class="govuk-grid-row">
      <div [ngClass]="showFilters ? 'govuk-grid-column-three-quarters' : 'govuk-grid-column-full'">
        <p class="govuk-body govuk-!-margin-bottom-4">
          Submit Sitting records for {{tribService}}, {{region}}, up to and including the {{date}}
        </p>
    
        <ng-container style="width: 100%;">
          <table 
            datatable 
            [dtOptions]="dtOptions" 
            [dtTrigger]="dtTrigger"
            class="govuk-table"
            id="sittingRecordViewTable"
            aria-describedby="records to submit table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header"> Name </th>
                <th class="govuk-table__header"> Role </th>
                <th class="govuk-table__header"> Period </th>
                <th class="govuk-table__header"> Sitting Date </th>
                <th class="govuk-table__header"> Entered By </th>
                <th class="govuk-table__header"> Venue </th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row" *ngFor="let sittingRecord of sittingRecordData">
                <td class="govuk-table__cell"> {{sittingRecord.personalName}} </td>
                <td class="govuk-table__cell"> {{sittingRecord.judgeRoleTypeId}} </td>
                <td class="govuk-table__cell"> {{getPeriod(sittingRecord.am, sittingRecord.pm)}} </td>
                <td class="govuk-table__cell"> {{sittingRecord.sittingDate}} </td>
                <td class="govuk-table__cell"> {{sittingRecord.createdByUserId}} </td>
                <td class="govuk-table__cell"> {{sittingRecord.regionName}} </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </div>
    </div>
</main>
