<main class="govuk-main-wrapper " id="main-content" role="main">

    <span class="govuk-caption-l govuk-!-static-margin-bottom-3">
        Add Sitting records for {{tribService}}, {{venue}}, for {{date}}
    </span>

    <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
            Sitting record(s) saved
        </h1>
    </div>

    <button class="govuk-button" data-module="govuk-button" (click)="navigateBackToStart()">
        View record table
    </button>

</main>