<main class="govuk-main-wrapper " id="main-content" role="main">
    
    <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Manage Judicial Sitting Records</h1>
    <h1 class="govuk-body-l govuk-!-margin-bottom-5">Find, add or delete judicial sitting records</h1>

    <form [formGroup]="manageRecords" (ngSubmit)="submitForm()">
      <app-tribunal-service formGroupName="tribunalService"></app-tribunal-service>
    
      <app-venue formGroupName="venue"></app-venue>
              
      <app-sitting-date formGroupName="dateSelected"></app-sitting-date>
      
      <div class="govuk-button-group">
            
            <button type="button" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Previous
            </button>
            <button type="submit" class="govuk-button" data-module="govuk-button" [disabled]="!manageRecords.valid">
              Continue
            </button>
            
      </div>

    </form>

  </main>
