<main class="govuk-main-wrapper " id="main-content" role="main">

  <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Manage judicial sitting records</h1>
  <h1 class="govuk-body-l govuk-!-margin-bottom-5">Find, add or delete judicial sitting records</h1>

  <form [formGroup]="manageRecords" (ngSubmit)="submitForm()">
    <app-tribunal-service> </app-tribunal-service>

    <app-venue [venues]="venues"></app-venue>

    <app-sitting-date></app-sitting-date>

    <div class="govuk-button-group">
      <button type="submit" class="govuk-button" data-module="govuk-button" [disabled]="!manageRecords.valid">
        Continue
      </button>
    </div>

    <p class="govuk-body" *ngIf="showPreviousButton">
      <a href="javascript:void(0);" class="govuk-link link-color" (click)="goBack()">Cancel</a>
    </p>

  </form>
</main>