/* You can add global styles to this file, and also import other style files */
@import '../node_modules/govuk-frontend/govuk/all.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './styles/datatable_overrides.scss';

.datatable-row-detail { width: 100vw; }
.textErrorColor{
    color: $govuk-error-colour;
    font-weight: 600;
}
.deleteCell{ cursor: pointer; color: $govuk-link-colour;}
