/* You can add global styles to this file, and also import other style files */
@import '../node_modules/govuk-frontend/govuk/all.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './styles/datatable_overrides.scss';

.link-color{ color: $govuk-link-colour; cursor: pointer;}
.datatable-row-detail { width: 100vw; }
.textErrorColor{
    color: $govuk-error-colour;
    font-weight: 600;
}
.deleteCell{ cursor: pointer; color: $govuk-link-colour;}
.govuk-button[disabled]{ border-top: 0; }
.success-panel { background: govuk-colour("turquoise");}
input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}
