<main class="govuk-main-wrapper " id="main-content" role="main">
    
    <span class="govuk-caption-l">Create payroll file and publish records </span>
    <h1 class="govuk-heading-l">Publish sitting records</h1>

    <p class="govuk-body-m">
        Are you sure you want to continue? <br>
        Once published sitting records cannot be deleted or changed.
    </p>

    <div >
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">File name</th>
                    <th scope="col" class="govuk-table__header">No. of records </th>
                    <th scope="col" class="govuk-table__header">Created by</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">£109.80 per week</td>
                    <td class="govuk-table__cell">£109.80 per week</td>
                    <td class="govuk-table__cell">£109.80 per week</td>
                </tr>
            </tbody>
        </table>
    </div>

    <button class="govuk-button" data-module="govuk-button">
        Continue
    </button>

    <p class="govuk-body">
        <a href="javascript:void(0);" class="govuk-link link-color" (click)="goBack()">Cancel</a>
    </p>

</main>