<main class="govuk-main-wrapper " id="main-content" role="main">

    <p class="govuk-body">Resolve any duplicates before saving the record(s) below</p>

    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Name
            <dt class="govuk-summary-list__key">
                Role
            </dt>
            <dt class="govuk-summary-list__key">
                Period
            </dt>
            <dt class="govuk-summary-list__key">
                Entered By
            </dt>
            <dt class="govuk-summary-list__key">
                Date
            </dt>
            <dt class="govuk-summary-list__key">
                Venue
            </dt>
        </div>
        <div class="govuk-summary-list__row" *ngFor="let record of validRecords">
            <dd class="govuk-summary-list__value">
                {{record.johName}}
            </dd>
            <dd class="govuk-summary-list__value">
                {{record.johRole}}
            </dd>
            <dd class="govuk-summary-list__value">
                {{record.johPeriod}}
            </dd>
            <dd class="govuk-summary-list__value">
                {{currentUser}}
            </dd>
            <dd class="govuk-summary-list__value">
                {{record.postedDate}}
            </dd>
            <dd class="govuk-summary-list__value">
                {{selectedVenue}}
            </dd>
        </div>
    </dl>

</main>